# Binary files:
compilers/comp4/Comp5
compilers/comp5/Comp5
compilers/comp6/Comp6
compilers/comp6/Prac6
compilers/comp6/emu6809
compilers/comp6/LDT/emu6809
compilers/comp6/JST/emu6809
compilers/emu6809/emu6809

# Ignore a compiled files with extension .b09
*.b09

# Ignore archives
*.zip


# Created by https://www.gitignore.io/api/c,haskell

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### Haskell ###
dist
dist-*
cabal-dev
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/

# End of https://www.gitignore.io/api/c,haskell
